alembic==1.7.5
anyio==3.4.0
fastapi==0.71.0
greenlet==1.1.2
idna==3.3
Mako==1.1.6
MarkupSafe==2.0.1
psycopg2==2.9.3
pydantic==1.9.0
sniffio==1.2.0
SQLAlchemy==1.4.29
starlette==0.17.1
typing-extensions==4.0.1
